*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
}

.form-data{
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f9f9f9;
    justify-content: center;
    align-items: center;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-data h1{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    border-bottom: black solid 1px;
}
.form-data label{
    display: block;
    margin: 5px;
    color: #555;
    font-weight: 600;
}
.form-data input[type="submit"]{
    width: 100%;
    padding: 10px;
    border-top: black solid 1px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.form-data input[type="submit"]:hover{
    background-color: #31cb38;
    font-weight: 600;
}



.form-data input[type="text"],
.form-data input[type="email"],
.form-data input[type="password"],
.form-data input[type="date"],
.form-data select{
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}