*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.top-text{
    text-align: center;
    padding: 5px;
    font-size: 1.5rem;
    font-family: poppins, sans-serif;
    background-color: aquamarine;
}
.font-samples{
    margin: 20px;
    font-size: 1.2rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.font-samples li:nth-child(1){
    font-family: 'Kedebideri', cursive;
}
.font-samples li:nth-child(2){
    font-family: 'Poppins', sans-serif;
}
.font-samples li:nth-child(3){
    font-family: 'Playwrite US Trad Guides', cursive;
}
.font-samples ul{
    margin-top: 80px !important;
    margin: auto;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: lightslategrey;
    border-radius: 15px;
    
    box-shadow: 0 10px 8px 6px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.font-samples li{
    display: block;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 10px;
    text-decoration: none;
    background-color: lightskyblue;
    border-radius: 15px;
}
.font-samples p h1{
    text-decoration: none;
    padding: 20px;
    margin: 20px;
}
.font-samples h3{
    font-family: poppins, sans-serif !important;
}