*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
}

.form-data{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.form-data form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: c;
}
.form-data h1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}
.form-data label{
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}